# Database
DATABASE_URL="postgresql://qlcv_app:QLCV%402026Strong!@127.0.0.1:5432/qlcv_db?schema=public"

# JWT
JWT_SECRET="qlcv-super-secret-key-change-in-production-2026"
JWT_EXPIRES_IN="7d"

# Server
PORT=3000
NODE_ENV=development